@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 col-xl-4 col-xl-offset-4">
            <section>
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                    <h4>Log in</h4>
                    <div asp-validation-summary="ValidationSummary.All" class="alert-danger"></div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                                <input asp-for="Email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-small">
                        <div class="col-md-10">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user-secret"></i></div>
                                <input asp-for="Password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-small">
                        <div class="col-md-10 text-md-right text-sm-right text-xs-right">
                            <div class="checkbox">
                                <input asp-for="RememberMe" />
                                <label asp-for="RememberMe"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-small">
                        <div class="col-md-10 text-md-center text-sm-center text-xs-center">
                            <a class="btn btn-warning" asp-action="ForgotPassword">Forgot password?</a>
                            <a class="btn btn-success" asp-action="Register">Register</a>
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                    </div>
                </form>
            </section>
            <div class="row">
                <div class="col-md-10 margin-top text-md-center text-sm-center text-xs-center">
                    <section>
                        <h4>Use another service to log in.</h4>
                        @{
                            var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                            if (loginProviders.Count != 0)
                            {
                                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                                    <div>
                                        <p>
                                            @foreach (var provider in loginProviders)
                                            {
                                                var png = provider.AuthenticationScheme + ".png";
                                                var svg = provider.AuthenticationScheme + ".svg";
                                                <button type="submit" class="btn-social" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">
                                                    <img class="btn-social-image" src="~/media/images/social/@png" srcset="~/media/images/social/@svg 1x" alt="@provider.AuthenticationScheme Logo" width="64" height="64">
                                                </button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </section>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
